<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.huashui.dormitory.mapper.DormRoomMapper">


    <select id="getRoomInfoById" resultType="com.huashui.api.domain.vo.dorm.room.RoomVO"
            parameterType="java.lang.Long">

        SELECT
            r.id,
            r.room_number,
            r.building_id,
            b.campus_id

        FROM dorm_room r

                 LEFT JOIN dorm_building b
                           ON r.building_id = b.id

        WHERE r.id = #{id}
    </select>

    <select id="getRoomDetailInfo" resultType="com.huashui.api.domain.vo.dorm.room.RoomVO"
            parameterType="java.lang.Long">
        SELECT

            r.id AS room_id,

            r.room_number,


            b.id AS building_id,

            b.building_name,


            b.campus_id,


            c.campus_name


        FROM dorm_room r


                 LEFT JOIN dorm_building b
                           ON r.building_id = b.id


                 LEFT JOIN sys_campus c
                           ON b.campus_id = c.id


        WHERE r.id = #{id}


    </select>
</mapper>